@use "../../styles/fonts" as font;
@use "../../styles/colors" as colors;
@use "../../styles/mixins" as *;

.upload-form {
  margin: 1rem;
  display: flex;
  flex-direction: column;

  @include desktop {
    margin: 3rem;
    &__header {
      padding-top: 1rem;
      margin-top: 0rem;
      @include tablet {
        border-bottom: 0.063rem solid colors.$mercury;
        padding-bottom: 2rem;
      }
      @include desktop {
        font-size: 3rem;
      }
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    @include desktop {
      gap: 2rem;
      flex-direction: row;
    }
  }
  &__thumbnail-subcontainer {
    display: flex;
    flex-direction: column;
  }
  &__subcontainer {
    display: flex;
    flex-direction: column;
  }
  &__title {
    color: colors.$silver;
    font-weight: font.$demi;
    font-size: 0.813rem;
    margin: 1rem 0rem 0.5rem;
    &--description {
      @extend .upload-form__title;
      @include tablet {
        border-bottom: 0.063rem solid colors.$mercury;
        padding-bottom: 2rem;
      }
    }
  }

  &__image {
    border-radius: 0.3rem;
    @include tablet {
      width: 50%;
    }

    @include desktop {
      width: 23rem;
    }
  }
  &__field {
    width: 91%;

    color: colors.$darkblack;
    background-color: colors.$alabaster;
    border-color: colors.$mercury;
    border: solid 0.063rem colors.$mercury;
    border-radius: 0.25rem;
    font-family: avenir;
    padding: 0.8rem;
    outline: none;
    @include desktop {
      width: 47rem;
    }
    &--description {
      @extend .upload-form__field;
      padding-bottom: 5rem;
      @include tablet {
        border-bottom: 0.063rem solid colors.$mercury;
      }
    }
  }
  &__cancel {
    font-weight: bold;
    color: colors.$blue;
    text-align: center;
    margin-top: 3rem;
    @include tablet {
      position: relative;
      top: -4.5rem;
      left: 3rem;
    }
    @include desktop {
      left: 16rem;
    }
  }
}
