@use "../../styles/colors" as colors;
@use "../../styles/fonts" as font;
@use "../../styles/mixins" as *;
.video-list {
  list-style-type: none;
  padding: 0rem;

  @include desktop {
    border-left: 0.063rem solid colors.$mercury;
  }

  &__container {
  }

  &__heading {
    color: colors.$silver;
    font-weight: 600;
    font-size: 0.813rem;
    margin: 1rem 0rem 0.5rem 1rem;
  }

  &__anchor {
    padding: 0rem 1rem;
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0rem;
    gap: 1rem;
    color: unset;
  }
  &__image {
    width: 6rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 0.25rem;
  }

  &__text-container {
    width: 10rem;
  }
  &__title {
    margin-top: 0rem;
    font-weight: font.$demi;
    text-overflow: ellipsis;
  }
}
