@use "../../styles/fonts" as font;
@use "../../styles/colors" as colors;
@use "../../styles/mixins" as *;

.comments {
  padding: 0.1rem 1rem;
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem;

  &__list {
    list-style: none;
    padding-left: 0rem;

    // @include tablet {
    //   margin-left: 4rem;
    // }
    // @include desktop {
    //   margin-left: 17rem;
  }
  &__item {
    border-bottom: 0.063rem solid colors.$mercury;
    border-top: 0.063rem solid colors.$mercury;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;

    @include tablet {
      margin-left: 1rem;
      padding: 0.5rem;
    }
  }
  &__name-container {
    display: flex;
    justify-content: space-between;
    font-size: 0.813rem;
  }

  &__name {
    font-weight: font.$demi;
  }

  &__timestamp {
    color: colors.$silver;
  }
  &__subsection {
    font-size: 0.813rem;
    width: 45rem;

    @include desktop {
      width: 48rem;
    }
  }
  &__avatar {
    border-radius: 100%;
    width: 8rem;
    height: 2.188rem;
    background-color: colors.$mercury;
    position: relative;
    top: 0.8rem;
    @include tablet {
      max-width: 3rem;
      max-height: 3rem;
      height: auto;
    }
  }

  &__content {
    margin-top: 0rem;
    line-height: 1.125rem;
    word-wrap: break-word;
    word-break: break-word;
  }
}
