@use "./styles/fonts" as font;
@use "./styles/colors" as colors;
@use "./styles/mixins" as *;

body {
  margin: 0rem;
  font-family: font.$font-stack;
  font-weight: font.$regular;
  color: colors.$black;
  font-size: 0.813rem;
  line-height: 1.125rem;
}

a {
  text-decoration: none;
}
.container {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
  }
}
