@use "../src/styles/fonts" as font;
@use "../src/styles/colors" as colors;

body {
  margin: 0rem;
  font-family: font.$font-stack;
  font-weight: font.$regular;
  color: colors.$black;
  font-size: 0.813rem;
}
